# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/
env/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_metadata/

# Data and Models
*.h5
*.pkl
*.model
*.joblib
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs and databases
*.log
*.sqlite
*.db

# ML specific
mlruns/
/models/
wandb/

# OS specific
.DS_Store
Thumbs.db

# Docker
.docker/

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
logs/
dags/__pycache__/